



.skills{
    background: #212227;
    padding: 80px 0;
    color: #fff;
    
    margin: 20px auto;
    text-align: center;
}

.skills_content{
    row-gap: 2rem;
}

.skills_subtitle{
    font-size: var(--h3-font-size);
    color: #ff4a57;
    margin-bottom: var(--mb-2);
}

/* .skills_data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
    color: #fff;

} */

.skills_name{
    text-transform: uppercase;
}

/* .skills_bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: #ff4a57;
} */

/* .skills_html{
    width: 90%;
}
.skills_css{
    width: 85%;
}
.skills_js{
    width: 78%;
}
.skills_react{
    width: 74%;
}
.skills_bs{
    width: 80%;
}
.skills_md{
    width: 78%;
}

.skills_node{
    width: 50%;
}
.skills_express{
    width: 54%;
}
.skills_firebase{
    width: 70%;
} */

