:root{

/*======font =====*/
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
/*======marings=====*/
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;
--mb-4:2rem;




}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1f2235;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}





.bgMain {
  background: #1c2564;
}

.h-650 {
  height: 650px;
}
.alignCenter {
  align-items: center;
}
.justifyConter {
  justify-content: center;
}
